/* Global Styles */

/* Login Company Container */
.login-company {
    background: url("../Resources/logincompany.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);

}


.login-form-wrapper {

    width: 480px;
    height: 580px;
    margin: auto;
    padding: 30px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

}




.login-form {
    display: flex;
    flex-direction: column;
    padding: 30px;
}



.login-form label {

    color: #fff;
    margin-bottom: 5px;
}


.login-form-wrapper h1 {
    color: #fff;
    font-size: 2.2em;
    font-weight: 900;
    margin: 10px 0 10px 10px;
}


.inputs {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #fff;
    border-radius: 4px;

    background: transparent;
    color: #fff;
    width: 100%;
    height: 40px;
    transition: background-color 0.3s ease-in-out;
    
}



.inputs:focus {
    background-color: #413e3e;

}

.login-form-wrapper hr{
    width: 350px;
    margin-top: 30px;
    margin-left: 10px;
  
}

.checkbox-div {
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 20px; 
    margin-bottom: 20px;
    color: #fff; 
    font-size: 10px;
  }
  
  
  

  .checkbox-div a {
    color: #fff; 
    text-decoration: none;
    transition: color 0.3s ease-in-out; 
    font-size: 16px;
    margin-left: 60px;
  }
  
  .checkbox-div a:hover {
    color: rgb(56, 111, 179); 
  }
  




.btn-login {
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 4px;
    height: 40px;
    width: 50%;
    font-size: 1.5em;
    font-weight: 400;
   margin-left: 90px;
    background: #413e3e;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s, transform 0.5s ease-in-out;
  }
  
  .btn-login:hover {
    background-color: #237ed9;
    color:#f9fafb

  }


  

.btn-register {
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 4px;
    height: 40px;
    width: 50%;
    margin-left: 90px;
    font-size: 1.5em;
    font-weight: 400;
    background: #413e3e;
    color: #fff;
    cursor: pointer;
    margin-top: 30px;
    transition: background-color 0.5s, color 0.5s, transform 0.5s ease-in-out;
  }
  
  .btn-register:hover {
    background-color: #237ed9;
    color:#f9fafb

  }

.btn-login-div {
    display: flex;
    flex-direction: row;

}


.register{
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-size: 14px;
    margin-top: 30px;
    text-align: center;
    cursor: pointer;
}


.register:hover {
   
    color:#237ed9;

  }