.container{
    display: flex;
    padding: 1rem 3rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 10px rgb(226, 226, 226);
    position: sticky;
    top: 0;
}

.search{
    position: relative;
}

.search svg{
    position: absolute;
    right: 20px;
    top: 31%;
}

.search input{
    width: 35vw;
    padding: 0.5rem 1.3rem;
    border: 1px solid grey;
    border-radius: 5px;
}

.content{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.content svg{
    cursor: pointer;
}

.content span{
    border: 1.5px solid grey;
    border-radius: 50%;
    padding: 0.4rem;
}

.userInfo{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.userInfo h5{
    min-width: 150px;
}